*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Lato', sans-serif;
}

/* banner cls */

.banner-container{
    height: 100vh;
    background-color:rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 120px;
    gap: 50px;
}
.banner-img{
    width: 450px;
    padding-top: 70px;

      
}
.banner-title{
    font-size: 55px;
    padding-bottom: 15px;
}
.banner-info{
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 30px;
}

.left-banner{
    width: 50%;
    margin: 20px;
    
}
.banner-btn{
    border-radius: 8px;
    background: #E55473;
    color: #FFFFFF;
    border: none;
    padding: 20px 40px;
    font-size: 20px;
    margin-top: 10px;
}

.banner-btn:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

/* sell cointainer */

.sell-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(252, 44, 90, 0.05);
    padding: 70px 90px;
}
.sell-photo{
    width: 270px;
}
.sell-info{
    width: 50%;
    text-align: center;
    padding: 60px 0px;
}
.sell-title{
    font-size: 40px;
    padding-bottom: 10px;

}
span{
    color: #E55473;
}

.isnta-photo{
    width: 260px;
    height: 290px;
}
.insta-img{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}
.insta-info{
    text-align: center;
    width: 45%;
    margin: auto;
}

.instagram{
    padding: 65px 120px;
}